[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
opencage = "*"
openmeteo-requests = "*"
requests-cache = "*"
retry-requests = "*"
numpy = "*"
pandas = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
